<section class="py-20 px-6" id="{{ .id }}">
    <div class="max-w-7xl mx-auto">
        {{ with .title }}
        <h2 class="text-4xl font-light text-center mb-14 tracking-tight reveal visible">
            {{ . | safeHTML }}
        </h2>
        {{ end }}

        <div class="grid lg:grid-cols-3 grid-cols-1 gap-10  items-center">
            <div class="col-span-2 reveal delay-150 visible">
              <div class="glass-card p-6 md:p-10 gap-6 rounded-[2.5rem] grid lg:grid-cols-2">
                    {{ range .features }}
                    <div class="flex items-start gap-4">
                        <div class="w-8 h-8 {{ .bg }} rounded-xl flex items-center justify-center flex-shrink-0">
                            <i data-lucide="{{ .icon }}" class="w-4 h-4 {{ .text }}"></i>
                        </div>
                        
                        <div>
                            <div class="font-medium text-m">
                                {{ .title }}
                            </div>
                            {{ with .subtitle }}
                            <p class="mt-1 text-s font-light">
                                {{ . }}
                            </p>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="reveal visible" >
                <div class="glass-panel rounded-[2.5rem] overflow-hidden shadow-sm section-image" style="height: 100%;">
                    <img src="{{ .image | absURL }}" alt="{{ .image_alt }}" class="solar-img w-full h-full object-cover" style="border-radius:2.5rem">
                </div>
            </div>
        </div>
    </div>
</section>




