<section class="max-w-[900px] mx-auto">
   <button class="inline-flex items-center gap-2 text-sm font-medium text-gray-900btn-open-seo-modal  w-full mb-10 justify-center btn-open-seo-modal">
      <svg viewBox="0 0 24 24" fill="none" class="h-[17px] w-[17px]"><path d="M12 17.75C12.4142 17.75 12.75 17.4142 12.75 17V11C12.75 10.5858 12.4142 10.25 12 10.25S11.25 10.5858 11.25 11v6C11.25 17.4142 11.5858 17.75 12 17.75z" fill="#55555E"></path><path d="M12 7C12.5523 7 13 7.44772 13 8S12.5523 9 12 9s-1-.44772-1-1S11.4477 7 12 7z" fill="#55555E"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 12C1.25 6.06294 6.06294 1.25 12 1.25c5.9371.0 10.75 4.81294 10.75 10.75.0 5.9371-4.8129 10.75-10.75 10.75C6.06294 22.75 1.25 17.9371 1.25 12zM12 2.75C6.89137 2.75 2.75 6.89137 2.75 12c0 5.1086 4.14137 9.25 9.25 9.25 5.1086.0 9.25-4.1414 9.25-9.25.0-5.10863-4.1414-9.25-9.25-9.25z" fill="#55555E"></path></svg>
      {{ .button_text }}
    </button>
    
</section>

<div id="seoModal" class="modal-wrapper" role="dialog" aria-modal="true" aria-labelledby="mpName">

  <div id="modalBackdrop"></div>
  <div id="modalPanel" style="position:relative; display:flex; flex-direction:column; max-height:90vh; overflow:hidden; padding: 4rem 1.625rem 4rem 3rem;">
    <button id="modalClose" aria-label="Закрити"
      style="position:absolute; top:1rem; right:1rem; z-index:40; width:2.25rem; height:2.25rem; border-radius:9999px; background:#fff; border:1px solid #f3f4f6; display:flex; align-items:center; justify-content:center; color:#9ca3af; cursor:pointer; box-shadow: 0 4px 12px rgba(0,0,0,0.08);">
      <i data-lucide="x" class="w-4 h-4"></i>
    </button>
    <div style="flex:1; overflow-y:auto; scrollbar-gutter: stable; border-radius: 0.5rem;">
      <div class="prose prose-slate max-w-none" style=" padding-right: 3rem;">
        {{  .seo_text | markdownify }}
      </div>
    </div>

  </div>
</div>
<script>
  let modalSeo = document.getElementById('seoModal');
   document.querySelectorAll('.btn-open-seo-modal').forEach(btn => {
    btn.addEventListener('click', e => {
      e.stopPropagation();
      modalSeo.classList.add('is-open');
      document.body.style.overflow = 'hidden';
    });
  });
   modalSeo.querySelector('#modalClose').addEventListener('click', function(){
     modalSeo.classList.remove('is-open');
     document.body.style.overflow = '';
   });

</script>