<section class="py-20 px-6 section-text-with-image" id="{{ .id }}">
    <div class="max-w-7xl mx-auto">
        {{ with .title }}
        <h2 class="text-4xl font-light text-center mb-14 tracking-tight reveal visible">
            {{ . | safeHTML }}
        </h2>
        {{ end }}

        <div class="grid lg:grid-cols-2 gap-10 items-center">
            <div class="glass-card rounded-[2.5rem] p-6 md:p-10 reveal delay-150 visible {{ if eq .image_position "left" }} lg:order-last {{ else }} lg:order-first {{ end }}">
                
                {{ .body_text | markdownify }}

                {{ with .button_text }}
                <button class="bg-gray-900 text-white px-10 py-4 rounded-full font-medium hover:bg-gray-800 transition-all shadow-lg shadow-gray-100 mt-6 btn-open-modal">
                    {{ . }}
                </button>
                {{ end }}
            
            </div>
            <div class="reveal visible {{ if eq .image_position "left" }} lg:order-first {{ else }} lg:order-last {{ end }}" style="height: 100%;">
                <div class="glass-panel rounded-[2.5rem] overflow-hidden shadow-sm section-image" style="height: 100%;">
                    <img src="{{ .image | absURL }}" alt="{{ .image_alt }}" class="solar-img w-full h-full object-cover" style="border-radius:2.5rem">
                </div>
            </div>
        </div>
    </div>
</section>

